body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  margin-top: 60px; /* Adjust the margin-top value to create space below the fixed navbar */
  display: 'flex';
}

.banner {
  background-color: #cee3b4;
  padding: 20px;
  text-align: center;
}

.banner h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.banner p {
  font-size: 16px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 9999;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  margin-right: 10px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.navbar li a:hover {
  background-color: #fff;
  color: #333;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
} 

/* Add any additional styles specific to your app */
